module7/win32/ArmaditoPDF/ArmaditoPDF/Debug/*
module7/win32/ArmaditoPDF/Debug/*
module7/win32/ArmaditoPDF/ArmaditoPDF.v12.suo
module7/win32/ArmaditoPDF/ArmaditoPDF.opensdf
module7/win32/ArmaditoPDF/ArmaditoPDF.sdf
